* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFC7D6;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    margin: 10px;
}

.header {
    margin: 10px;
    width: 100%;
}

.Todo {
    background-color: #FFECF1;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
}


.maniquie {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.maniquie img {
    width: 100%;
    max-width: 350px;
    height: auto;
}


.productos-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.producto {
    background-color: white;
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.producto img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.detalles {
    flex-grow: 1;
}

.detalles h3 {
    margin: 0;
    font-size: 16px;
}

.detalles p {
    margin: 5px 0;
}

ul {
    margin: 10px;
    list-style: none;
}

.total {
    width: 100%;
}

.resumen {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}


.acciones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

.pagar {
    background-color: #FFC7D6;
    color: black;
}

.regresar {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .Todo {
        flex-direction: column;
        align-items: center;
    }

    .maniquie {
        width: 80%;
    }

    .productos-container, .resumen {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 20px;
    }

    .producto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .producto img {
        width: 100px;
    }

    .acciones {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    button {
        width: 100%;
    }
}
