<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito || Ebisu</title>
    <link rel="stylesheet" href="Carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<header>
    <div class="logo">
        <img src="/img/ImgIndex/LogoEbisu.png" alt="" class="logo-img">
    </div>
    <nav class="header_nav">
        <ul class="nav-ul">
            <li class="nav-item"><a href="/Menu_Inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li class="nav-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li class="nav-item"><a href="/vistaAdmin"><i class="fa-solid fa-cart-shopping"></i> Administrar</a></li>
            <li class="nav-item"><a href="/login"><i class="fa-solid fa-circle-user"></i> Login</a></li>
        </ul>
    </nav>
</header>
<body>

    <div class="Todo">
        <div class="galery_grid">
            <div class="grid_item">
                <img class="Maniqui"src= "ManiquiMujer.png" alt="Maniquí">
            </div>
                    <div class="grid_item">
                        <img class="producto-img"src="blusa1.webp" alt="blusa">
                        <div class="detalles">
                            <ul class="details"> 
                                <h3>Blusa con estampado floral</h3>
                                <li>Talla: M</li>
                                <li>Color: rosa</li>
                                <li>Cantidad: 1</li>
                                <p><strong>precio: 25$</strong></p>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="grid_item">
                        <img sclass="producto-img "src="shopping.webp" alt="Falda">
                        <div class="detalles">
                            <ul>
                                <h3>Falda con cordón en la cintura</h3>
                                <li>Talla: L</li>
                                <li>Color: rosa</li>
                                <li>Cantidad: 1</li>
                                <p><strong>precio: 20$</strong></p>
                            </ul>
                        </div>
                        
                    </div>
                <div class="grid_item">
                    <div class="resumen">
                        <h3>Resumen del pedido</h3>
                        <p>2 productos por un costo de $45</p>
                        <p>Envío gratis</p>
                        <p><strong>Total: $45</strong></p>
                    </div>
                    <div class="acciones">
                        <button class="pagar">Proceder al pago</button>
                        <button class="regresar">Volver a comprar</button>
                    </div>
                </div>
     
            </div>
        </div>
</body>
</html>