<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="Carritostyles.css">
</head>
<body>
    <div class = "header">
        <h1 class = "titulo">Vestidor</h1>
    </div>

    <div class="Todo">
        <div class="maniquie">
            <img src= " img\ImgCarrito\ManiquiMujer.png" alt="Maniquí">
        </div>

        <div class="productos-container">
            <div class="productos">
                <div class="producto">
                    <img src=" img\ImgCarrito\blusa1.webp" alt="blusa">
                    <div class="detalles">
                        <ul> 
                            <h3>Blusa con estampado floral</h3>
                            <li>Talla: M</li>
                            <li>Color: rosa</li>
                            <li>Cantidad: 1</li>
                        </ul>
                    </div>
                    <p><strong>precio: 25$</strong></p>
                </div>
                <div class="producto">
                    <img src=" img\ImgCarrito\shopping.webp" alt="Falda">
                    <div class="detalles">
                        <ul>
                            <h3>Falda con cordón en la cintura</h3>
                            <li>Talla: L</li>
                            <li>Color: rosa</li>
                            <li>Cantidad: 1</li>
                        </ul>
                    </div>
                    <p><strong>precio: 20$</strong></p>
                </div>
            </div>

            
            <div class="total">
                <div class="resumen">
                    <h3>Resumen del pedido</h3>
                    <p>2 productos por un costo de $45</p>
                    <p>Envío gratis</p>
                    <p><strong>Total: $45</strong></p>
                </div>
            </div>

            <div class="acciones">
                <button class="pagar">Proceder al pago</button>
                <button class="regresar">Volver a comprar</button>
            </div>
        </div>
    </div>
</body>
</html>