<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/formularioEdit.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/ImgIndex/LogoEbisu.png" alt="" class="logo-img">
        </div>
        <nav class="header_nav">
            <ul class="nav-ul">
                <li class="nav-item"><a href="/Menu_Inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="nav-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                <li class="nav-item"><a href="/vistaAdmin"><i class="fa-solid fa-cart-shopping"></i> Administrar</a></li>
                <li class="nav-item"><a href="/login"><i class="fa-solid fa-circle-user"></i> Login</a></li>
            </ul>
        </nav>
    </header>


    <h1>Editar Producto</h1>
    
    <form th:action="@{/editar}" th:object="${producto}" method="post">
        <input type="hidden" th:field="*{codigo}" />

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" th:field="*{precio}" required>

        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" th:field="*{categoria}" required>

        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" th:field="*{cantidad}" required>

        <label for="talla">Talla:</label>
        <input type="text" id="talla" th:field="*{talla}" required>

        <button type="submit">Guardar Cambios</button>
    </form>

    <a href="/formulario">Cancelar</a>
</body>
</html>
    

    
