<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Ebisu</title>
    <link rel="stylesheet" href="Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>


</head>
<header>
    <div class="logo">
        <img src="/img/ImgIndex/LogoEbisu.png" alt="" class="logo-img">
    </div>
    <nav class="header_nav">
        <ul class="nav-ul">
            <li class="nav-item"><a href="/Menu_Inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li class="nav-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li class="nav-item"><a href="/vistaAdmin"><i class="fa-solid fa-cart-shopping"></i> Administrar</a></li>
            <li class="nav-item"><a href="/login"><i class="fa-solid fa-circle-user"></i> Login</a></li>
        </ul>
    </nav>
</header>
<body>
<!-- From Uiverse.io by mi-series --> 
<div class="container">
    <div class="form_area">
        <p class="title">REGISTRARSE</p>
        <form action="">
            <div class="form_group">
                <label class="sub_title" for="name">Nombre</label>
                <input placeholder="Enter your full name" class="form_style" type="text">
            </div>
            <div class="form_group">
                <label class="sub_title" for="email">Email</label>
                <input placeholder="Enter your email" id="email" class="form_style" type="email">
            </div>
            <div class="form_group">
                <label class="sub_title" for="password">Contraseña</label>
                <input placeholder="Enter your password" id="password" class="form_style" type="password">
            </div>
            <div>
                <button class="btn">REGISTRARSE</button>
                <p>YA TIENES CUENTA? <a class="link" href="">INICIA SESION AQUI!</a></p><a class="link" href="">
            </a></div><a class="link" href="">
        
    </a></form></div><a class="link" href="">
</a></div>
</body>
</html>