<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Ebisu</title>
    <link rel="stylesheet" href="/Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/img/ImgIndex/LogoEbisu.png" alt="" class="logo-img">
        </div>
        <nav class="header_nav">
            <ul class="nav-ul">
                <li class="nav-item"><a href="/Menu_Inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="nav-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                
                <li th:if="${clienteLogueado != null and clienteLogueado.rol == 'ADMIN'}">
                    <a href="/vistaAdmin">Administrar</a>
                </li>
                <li class="nav-item" th:if="${clienteLogueado == null}">
                    <a href="/login"><i class="fa-solid fa-circle-user"></i> Login</a>
                </li>


                <li class="nav-item" th:if="${clienteLogueado != null}">
                    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>

            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form_area">
            <p class="title">INICIAR SESIÓN</p>
            
            <form th:action="@{/login}" method="post" th:object="${usuarioLogin}">
                <div class="form_group">
                    <label class="sub_title">Email</label>
                    <input class="form_style" type="email" th:field="*{email}" required>
                </div>
                <div class="form_group">
                    <label class="sub_title">Contraseña</label>
                    <input class="form_style" type="password" th:field="*{contrasena}" required>
                </div>
                <div th:if="${error}" style="color: red; margin-top: 10px;">
                    <p th:text="${error}"></p>
                </div>
                <button class="btn" type="submit">INICIAR SESIÓN</button>
                <button class="btn" type="button">
                    <a href="/registroCl">Registrarse</a>
                </button>
            </form>
        </div>
    </div>
</body>

</html>
