<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal || Ebisu</title>
    <link rel="stylesheet" href="Main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/ImgIndex/LogoEbisu.png" alt="" class="logo-img">
        </div>
        <nav class="header_nav">
            <ul class="nav-ul">
                <li class="nav-item"><a href="/Menu_Inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="nav-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                <li class="nav-item"><a href="/login"><i class="fa-solid fa-circle-user"></i> Login</a></li>
            </ul>
        </nav>
    </header>
    <main class="galery">
        <div class="galery_wrapper">
            <div class="galery_grid">
                <div class="grid_item" data-text="Vestidos"></div>
                <div class="grid_item" data-text="Calzado"></div>
                <div class="grid_item" data-text="Nuevas Prendas"></div>
                <div class="grid_item" data-text="Faldas"></div>
                <div class="grid_item" data-text="Destacados"></div>
            </div>
        </div>
        <h2> PROXIMA COLECCION</h2>
        <div class="carrusel">
            <div class="carrusel_contenedor">
                <div class="carrusel_item" style="background-image: url('/img/ImgIndex/PROXCOL1.jpg');"></div>
                <div class="carrusel_item" style="background-image: url(' img/ImgIndex/COL2.jpg');"></div>
                <div class="carrusel_item" style="background-image: url(' img/ImgIndex/COL3.jpg');"></div>

            </div>
        
        </div>
        </div>
        </div>
    </main>
</body>


</html>