<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Ebisu</title>
    <link rel="stylesheet" href="/Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="logo">
        <img src="/img/ImgIndex/LogoEbisu.png" alt="" class="logo-img">
    </div>
    <nav class="header_nav">
        <ul class="nav-ul">
            <li class="nav-item"><a href="/Menu_Inicio"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li class="nav-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
<li class="nav-item" th:if="${cliente != null and cliente.rol == 'ADMIN'}">
                <a href="/vistaAdmin"><i class="fa-solid fa-tools"></i> Administrar</a>
            </li>
            <li class="nav-item"><a href="/login"><i class="fa-solid fa-circle-user"></i> Login</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <!-- REGISTRO -->
    <div class="form_area">
        <p class="title">REGISTRARSE</p>
        <form th:action="@{/registrarCliente}" th:object="${cliente}" method="post">
            <div class="form_group">
                <label class="sub_title">Documento</label>
                <input class="form_style" type="number" min = "1" step = "1" th:field="*{id}" required>
            </div>
            <div class="form_group">
                <label class="sub_title">Nombre</label>
                <input class="form_style" type="text" th:field="*{nombre}" required>
            </div>
            <div class="form_group">
                <label class="sub_title">Telefono</label>
                <input class="form_style" type="text" th:field="*{telefono}" required>
            </div>
            <div class="form_group">
                <label class="sub_title">Fecha de nacimiento</label>
                <input class="form_style" type="date" th:field="*{fecha_nac}" th:attr="max=${fechaMaxima}" required>
            </div>
            <div class="form_group">
                <label class="sub_title">Direccion</label>
                <input class="form_style" type="text" th:field="*{direccion}" required>
            </div>
            <div class="form_group">
                <label class="sub_title">Email</label>
                <input class="form_style" type="email" th:field="*{email}" required>
            </div>
            <div class="form_group">
                <label class="sub_title">Contraseña</label>
                <input class="form_style" type="password" th:field="*{contrasena}" required>
            </div>
            <button class="btn" type="button">
                <a href="/login">INICIAR SESION</a>
            </button>
            <button class="btn" type="submit"> Registrarse
            </button>
            
        </form>
    </div>

</div>
</body>
</html>